apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tekton1
  name: tekton1
  namespace: default
spec:
  replicas: 4
  selector:
    matchLabels:
      app: tekton1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: tekton1
    spec:
      containers:
      - image: robertorm/pruebatekton:v1
        name: tekton1
        resources: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: tekton1
  name: tekton1
  namespace: default
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: tekton1