apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: pipeline-sencillos
spec:
  description: | 
    This pipeline clones a git repo, builds a Docker image with Kaniko and
    pushes it to a registry
  tasks:
  - name: listar-repo
    image: alpine
    script: |
        #!/bin/sh
        git pull https://github.com/robertorodriguez98/argoCD.git
        ls
  - name: desplegar-k8s
    runAfter:
      - listar-repo
    taskRef:
      name: kubernetes-actions
    params:
      - name: script
        value: |
          kubectl apply --filename https://raw.githubusercontent.com/robertorodriguez98/prueba-final-tekton/main/manifests/k8s/deploy.yaml
