apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: clone-build-push
spec:
  description: | 
    This pipeline clones a git repo, builds a Docker image with Kaniko and
    pushes it to a registry
  params:
  - name: repo-url
    type: string
  - name: image-reference
    type: string
  workspaces:
  - name: shared-data
  - name: docker-credentials
  tasks:
  - name: descargar-repositorio
    taskRef:
      name: git-clone
    workspaces:
    - name: output
      workspace: shared-data
    params:
    - name: url
      value: $(params.repo-url)
  - name: construir-imagen
    runAfter: ["descargar-repositorio"]
    taskRef:
      name: kaniko
    workspaces:
    - name: source
      workspace: shared-data
    - name: dockerconfig
      workspace: docker-credentials
    params:
    - name: IMAGE
      value: $(params.image-reference)

  - name: desplegar-k8s
      taskRef:
        name: kubernetes-actions
      runAfter:
        - construir-imagen
      params:
        - name: script
          value: |
            kubectl apply --filename https://raw.githubusercontent.com/robertorodriguez98/prueba-final-tekton/main/manifests/k8s/deploy.yaml

