apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: pipeline-sencillo
spec:
  description: | 
    This pipeline clones a git repo, builds a Docker image with Kaniko and
    pushes it to a registry
  tasks:
  - name: ls-task
    taskRef:
      name: ls-task
  - name: desplegar-k8s
    runAfter:
      - ls-task
    taskRef:
      name: kubernetes-actions
    params:
      - name: script
        value: |
          kubectl apply --filename https://raw.githubusercontent.com/robertorodriguez98/prueba-final-tekton/main/manifests/k8s/deploy.yaml
